.Item {
    display: flex;
    font-size: 1.5rem;
    align-items: center;    
    flex-direction: column;
    text-align: center;
    color: #aefff8;
}



.Item span {
    display: block;
}



.Icon {
    margin-right: 1rem;
    color: #18e0d0;
}



.Icon svg {
    width: 2rem;
    height: 2rem;
}


@media (min-width: 768px) {
    .Item {
        align-items: flex-start;
        text-align: left;
    }
}