<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css"></link>
  </head>
  <body>
    <%- include('../includes/navigation.ejs'); %>
    <main>
        <h1>THE STARTING PAGE</h1>
  
    </main>
<%- include('../includes/end.ejs'); %>



