<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/main.css"></link> -->
<!-- ESSA COISA LOGO ABAIXO É ___ UM PARTIAL/INCLUDES, USADO PARA '''IMPORTAR''' um OUTRO ARQUIVO ejs, um bloco de código contido em outro arquivo EJS, para dentro dessa posição aqui em '404.ejs'... -->
  <%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main><h1>Page not found, please<a href="/">&nbsp;return to the Home Page</a></h1></main>
    <%- include('includes/end.ejs') %>





<!-- </body> aquele include de 'end.ejs' já contém esse código...
</html> -->



<!-- // <header class="main-header"> 
//         <nav class="main-header__nav">
//           <ul class="main-header__item-list">
//             <li class="main-header__item"><a href="/" >Shop</a></li>
//             <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
//           </ul>
//         </nav>
//       </header>  -->