.login-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}


/* .error {


  border: 1px solid red;
} */




.reset-password-link {

  margin-bottom: 25px;
  
}





.reset-password-link a{

  text-decoration: none;
  color: #00695c;
  

  
}
