.button2 {
  font: inherit;
  border: 1px solid #3b0062;
  color: #3b0062;
  background: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.button2:focus {
  outline: none;
}

.button2:disabled {
  background: #ccc;
  color: #888888;
  cursor: not-allowed;
  border: #ccc;
  box-shadow: none;
}

.button2:disabled:hover,
.button2:disabled:active {
  background: #ccc;
  color: #888888;
  border: #ccc;
}

.button2:hover,
.button2:active {
  background: #3b0062;
  color: white;
}

.button2--flat {
  border: none;
}

.button2--flat:hover,
.button2--flat:active {
  background: rgba(59, 0, 98, 0.3);
  color: #3b0062;
}

.button2--raised {
  background: #3b0062;
  color: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
}

.button2--raised:hover,
.button2--raised:active {
  background: #520288;
}

.button2.button2--accent {
  border-color: #fab83f;
  color: #fab83f;
}

.button2--accent:hover,
.button2--accent:active {
  border-color: #fab83f;
  color: #3b0062;
}

.button2--flat.button2--accent:hover,
.button2--flat.button2--accent:active {
  background: rgba(250, 184, 63, 0.3);
  color: #fab83f;
}

.button2.button2--accent.button2--raised {
  background: #fab83f;
  color: #3b0062;
}

.button2--raised.button2--accent:hover,
.button2--raised.button2--accent:active {
  background: #fbc766;
}

.button2.button2--danger {
  border-color: #a30000;
  color: #a30000;
}

.button2--danger:hover,
.button2--danger:active {
  background: #a30000;
  color: white;
}

.button2--flat.button2--danger:hover,
.button2--flat.button2--danger:active {
  background: rgba(163, 0, 0, 0.3);
  color: #a30000;
}

.button2.button2--danger.button2--raised {
  background: #a30000;
  color: white;
}

.button2--raised.button2--danger:hover,
.button2--raised.button2--danger:active {
  background: #c00000;
}

.button2.button2--success {
  border-color: #00b359;
  color: #00b359;
}

.button2--success:hover,
.button2--success:active {
  background: #00b359;
  color: white;
}

.button2--flat.button2--success:hover,
.button2--flat.button2--success:active {
  background: rgba(0, 179, 90, 0.3);
  color: #00b359;
}

.button2.button2--success.button2--raised {
  background: #00b359;
  color: white;
}

.button2--raised.button2--success:hover,
.button2--raised.button2--success:active {
  background: #00a151;
}
